block header
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', type='image/x-icon', href='/public/images/favicon.ico')
  title edoc
  link(href='/assets/css/style.css', rel='stylesheet')
  link(href='/assets/css/fonts.css', rel='stylesheet')
  link(href='/assets/css/main.css', rel='stylesheet')
  script(src='http://code.jquery.com/jquery-latest.min.js')
