doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    title edoc
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/fonts.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
  body
    // Fixed navbar
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') edoc
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') HOME
            li.active
              a(href='login') PATIENT LOG IN
            li.active
              a(href='login1') DOCTOR LOG IN
        // /.nav-collapse
    #headerwrap
      .container
        .row.centered
          .col-lg-8.col-lg-offset-2
            img(src='assets/img/mind-gears.png')
            h1
              b
                spam e
                | doc
            h2 Reliable e-prescriptions.
        // row
      // container
    // headerwrap
    .container.w
      .row.centered
        .col-lg-4
          center
            img(src='assets/img/docusign.png')
            h4 RELIABLE
            p
              | Using the docusign API, edoc authenticates the doctor's signature on prescriptions which reduces forged prescriptions.
        // col-lg-4
        .col-lg-4
          center
            img(src='assets/img/FDAlogo.png')
            h4 SAFE
            p
              | To ensure that patient's are well-informed about their medication, edoc provides information about the side-effects, dosage, and dangers of the drug using the openFDA API.
        // col-lg-4
        .col-lg-4
          center
            img(src='assets/img/pillicon.png')
            h4 EASY-TO-USE
            p
              | As soon as the prescription is signed by the doctor, it is available to the patient. Each patient can keep track of their past/current medications using edoc.
        // col-lg-4
      // row
      br
    // container
    // FOOTER
    #f
      .container
        .row.centered
          center
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-dribbble
        // row
      // container
    
      