extends layout

block content
  main.container
    .jumbotron
      .content
        h1
          span.fa.fa-lock
          if provider
            | Provider Login
          else 
            | Patient Login
        if errMsg
          p.errMsg= errMsg 
    if provider
      form.form-inline(action='/login/provider', method='POST')
        div.form-group
          input.form-control(type='email', name='email', placeholder='email')
          input.form-control(type='password', name='password', placeholder='password')
        input.btn.btn-success.btn-default(type='submit')
    else 
      form.form-inline(action='/login/patient', method='POST')
        div.form-group
          input.form-control(type='email', name='email', placeholder='email')
          input.form-control(type='password', name='password', placeholder='password')
        input.btn.btn-success.btn-default(type='submit')


      