doctype html
html(lang='en')
  head 
    title Login
  body
    main.container
      .jumbotron
        .content
          h1
            span.fa.fa-lock
            | Login
          if errMsg
            p.errMsg= errMsg 
      form.form-inline(method='POST' action='/login')
        .form-group
          input.form-control(type='email', name='email', placeholder='email')
          input.form-control(type='password', name='password', placeholder='password')
        input.btn.btn-success.btn-default(type='submit')


      