extends layout

block content
  script(src='/assets/js/profile.js')
  #headerwrap
        .row.centered
        center
            main.container
                .jumbotron
                    .content
                        h2
                            | Patients
                        .center
                            each patient in patients
                              li.swiper-slide= patient.email
                                button.btn.btn-primary.docusign(type='button')
                                    | Prescribe
